body div{
	~border: 1px black solid;
}

#wrapper {
	position:relative;
	margin:0 auto;
	min-height: 500px;
	~border: 1px black solid;
}

#header {
	margin:0 auto;
	height:10%;
}

#footer {
	margin:0 auto;
	height: 10%;
	border-top: 1px black solid;
}

#main{
	margin:0 auto;
	min-height: 400px;
	height:75%;
	border-top: 1px black solid;
}
#test{
	margin:0 auto;
	min-height: 400px;
	border-top: 1px black solid;
}
#main #left{
	float:left;
	width:25%;
	border-right: 1px black solid;
}
#main #right{
	margin-left: 26%;
}
#main #left, #main #right{
	height:100%;
}
#right #upper{
	height:55%;
}
#upper .attr_div{
	display: inline-block;
	width: 98%;
}
.attr_div:hover{
	background-color: #DDD;
}
#right #bottom{
	border-top: 1px black solid;
	height:40%;
}
#bottom #edit_attr{
	display: none;
}
#right #upper, #right #bottom{
	width:100%;
}


.b-popup{
	width:100%;
	min-height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	position:fixed;
	top:0px;
	display:none;
}
.b-popup .b-popup-content{
	margin:40px auto 0px auto;
	width:300px;
	height: 400px;
	padding:10px;
	background-color: #c5c5c5;
	border-radius:5px;
	box-shadow: 0px 0px 10px #000;
}