<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.netcraft.model.NCObject" />
        <mapping class="com.netcraft.model.Attribute" />
        <mapping class="com.netcraft.model.ObjectType" />
        <mapping class="com.netcraft.model.Param" />
        <mapping class="com.netcraft.model.Reference" />
        <mapping class="com.netcraft.model.AttrGroup" />
    </session-factory>
</hibernate-configuration>